.con1 {
    width: 90%;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(IMAGE/p1.jpg);
    background-size: cover;

}

.con1 button {
    cursor: pointer;
    width: 200px;
    height: 40px;
    font-size: large;
    /* margin-left: 389px;
margin-top: 514px; */
    text-align: center;
    margin-left: 44%;
    margin-top: 48%;
    background: #ED3D31;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.06);
    border-radius: 50px;
}

.con2 {
    justify-content:space-between;
    margin-top: 56px;
    text-align: center;
}

.con2 img{
    margin: auto;
    width:80%;
    border-radius: 25px;
}
 h6 {
    font-size: x-large;
    font-family: 'Roboto';
    font-style: normal;
    line-height: 25px;
    text-align:center;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    color: #4F4E4E;
    text-transform: uppercase;
}

.con2 h3 {
    font-size: xx-large;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #111111;
}

.con2 p {
    margin: auto;
    margin-bottom: 5%;
    width: 60%;
    font-size: larger;
    align-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.15px;
    color: #4F4E4E;
}
