/* contact */
.contact {
    display: flex;
    flex-direction: column;
    height: fit-content;
    flex: auto;
    margin-top: 40px;
    background-image: url(IMAGE/contact.jpg);
    background-size: cover;
}

.mapouter {
    justify-content: center;
    margin-top: 25px;
}

.contactMSG {
    display: flex;
    margin-left: 200px;
    flex-direction: column;
    width: auto;
}

.send {
    width: 190.07px;
    height: 52px;
    background: #D9D9D9;
    border-radius: 34px;
    margin-top: 20px;
}

.contactMSG input{

    width: 50%;
    height: 38px;
    background: #FFFFFF;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
}
.contact textarea{
    height: 80px;
    width: 50%;
    background: #FFFFFF;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
}
.contactMSG h1{
    color: white;
}
.contactMSG label {
    width: 59px;
    height: 33px;
    left: 75px;
    top: 363px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: white;
}