*{
    font-family: 'Roboto', sans-serif;
}
/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
}
nav img{
    width: 127px;
    height: 127px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    margin-right: 10%;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 21px;
    font-weight: 600;
}
.fa-bars{
    size: 69px

}

nav .fa{
    display: none;
}
/* footer */
footer {
    display: flex;
    flex-direction: ;
    justify-content: space-between;
    /* height: 515px; */
    left: 0px;
    margin-top: 70px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(IMAGE/FOOTER.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
}
.hamid{
    display: flex;
}
footer .logo {
    width: 206px;
    height: 200px;
    left: 0px;
    padding-top: 148px;
}

footer .iconMedia {
    padding-top: 80px;
    padding-left: 50px;
}

.footercontact {
    width: fit-content;
    height: fit-content;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 25px;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    color: #FFFFFF;
    align-items: flex-end;
    padding-right: 8%;
}

footer div img {
    height: 34px;
    width: 33px;
}

.icon1 {
    display: flex;
    text-transform: none;
    font-size: 13px;
    margin-block-end: 10px;

}

.footercontact p {
    padding-left: 20px;

}
